    <section class="fun-facts">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                      <div class="counter-item waves-effect">
                        <i class="fa fa-briefcase"></i>
                        <div class="timer" id="item1" data-to="23"></div>
                        <h5>Months of work experience</h5>                               
                      </div>
                    </div>  
                    <div class="col-xs-12 col-sm-6 col-md-3">
                      <div class="counter-item waves-effect">
                        <i class="fa fa-book"></i>
                        <div class="timer" id="item2" data-to="18"></div>
                        <h5>Years at FER</h5>                               
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                      <div class="counter-item waves-effect">
                        <i class="fa fa-code"></i>
                        <div class="timer" id="item3" data-to="20"></div>
                        <h5>No idea</h5>                               
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                      <div class="counter-item waves-effect">
                        <i class="fa fa-male"></i>
                        <div class="timer" id="item4" data-to="15"></div>
                        <h5>Nothing</h5>                               
                      </div>
                    </div>
            </div>
        </div>
    </section>
