<!-- Start About Us Section 2 -->
    <div class="about-us-section-2" id="technologies">
        <div class="container">
            <div class="row">
                
<div class="col-md-8">
                    <ul id="skill-section" class="clearfix skill-graph waves-effect">
					
                        <!-- single skill -->
                        <li>
                            <div class="after-li">
                                <div class="singel-hr">
                                    <div class="singel-hr-inner waves-effect" data-height="50%"></div>
                                    <div class="skill-visiable">
                                        <span class="skill-count">50%</span>
                                    </div>
                                    <span class="skill-title">Python</span>
                                </div>
                            </div>
                        </li>
                        <!-- /single skill-->
						
                        <!-- single skill -->
                        <li>
                            <div class="after-li">
                                <div class="singel-hr">
                                    <div class="singel-hr-inner waves-effect" data-height="60%"></div>
                                    <div class="skill-visiable">
                                        <span class="skill-count">60%</span>
                                    </div>
                                    <span class="skill-title">Java</span>
                                </div>
                            </div>
                        </li>
                        <!-- /single skill-->
						
                        <!-- single skill -->
                        <li>
                            <div class="after-li">
                                <div class="singel-hr">
                                    <div class="singel-hr-inner waves-effect" data-height="70%"></div>
                                    <div class="skill-visiable">
                                        <span class="skill-count">70%</span>
                                    </div>
                                    <span class="skill-title">(Some)JS</span>
                                </div>
                            </div>
                        </li>
                        <!-- /single skill-->
					
                        <!-- single skill -->
                        <li>
                            <div class="after-li">
                                <div class="singel-hr">
                                    <div class="singel-hr-inner waves-effect" data-height="105%"></div>
                                    <div class="skill-visiable">
                                        <span class="skill-count">105%</span>
                                    </div>
                                    <span class="skill-title">C#</span>
                                </div>
                            </div>
                        </li>
                        <!-- /single skill-->
						
                        <!-- single skill -->
                        <li>
                            <div class="after-li">
                                <div class="singel-hr">
                                    <div class="singel-hr-inner waves-effect" data-height="85%"></div>
                                    <div class="skill-visiable">
                                        <span class="skill-count">85%</span>
                                    </div>
                                    <span class="skill-title">Bash</span>
                                </div>
                            </div>
                        </li>
                        <!-- /single skill-->

						<!-- single skill -->
                        <li>
                            <div class="after-li">
                                <div class="singel-hr">
                                    <div class="singel-hr-inner waves-effect" data-height="65%"></div>
                                    <div class="skill-visiable">
                                        <span class="skill-count">65%</span>
                                    </div>
                                    <span class="skill-title">PHP</span>
                                </div>
                            </div>
                        </li>
                        <!-- /single skill-->
						
                        <!-- single skill -->
                        <li>
                            <div class="after-li">
                                <div class="singel-hr">
                                    <div class="singel-hr-inner waves-effect" data-height="20%"></div>
                                    <div class="skill-visiable">
                                        <span class="skill-count">20%</span>
                                    </div>
                                    <span class="skill-title">Swift</span>
                                </div>
                            </div>
                        </li>
                        <!-- /single skill-->

                    </ul>
                </div>
                 <div class="col-md-4">
                    <div class="custom-accordion waves-effect">
                        <!-- Start Accordion Section -->
                    <div class="panel-group" id="accordion">

                        <!-- Start Accordion 1 -->
                        <div class="panel panel-default">
                            <div class="panel-heading waves-effect">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1">
                                        <i class="fa fa-angle-left control-icon"></i> Set of skills
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-1" class="panel-collapse collapse in">
                                <div class="panel-body">Each of us has a particular set of skills. We've worked with various web and mobile technologies and we like to try out new things as soon as they come out. On the left we have summed up our experience with various programming languages to showcase our interests and diversity.</div>                               </div>
                        </div>
                        <!-- End Accordion 1 -->

                        <!-- Start Accordion 2 -->
                        <div class="panel panel-default">
                            <div class="panel-heading waves-effect">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-2" class="collapsed">
                                        <i class="fa fa-angle-left control-icon"></i> Honorable mentions
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-2" class="panel-collapse collapse">
                                <div class="panel-body">Apart from technologies listed on the left, we've worked with HTML, CSS, XML, QML, C, C++, WordPress, Magento, MySQL, MSSQL, Postgres, Mongo... The list goes on and on... :)</div>                               </div>
                        </div>
                        <!-- End Accordion 2 -->

                        <!-- Start Accordion 3 -->
                        <div class="panel panel-default">
                            <div class="panel-heading waves-effect">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-3" class="collapsed">
                                        <i class="fa fa-angle-left control-icon"></i> Interests
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-3" class="panel-collapse collapse">
                                <div class="panel-body">Our interests include: artificial intelligence, machine learning, optimizations, algorithms, network and system administration.</div>
                            </div>
                        </div>
                        <!-- End Accordion 3 -->

                    </div>
                    <!-- End Accordion section -->
                    </div>
                </div>
                
            
                
            </div>
        </div>
    </div>
    <!-- Start About Us Section 2 -->
    